html{scroll-behavior:smooth}
body{margin:0;font-size:1em;line-height:1.6;font-weight:400;font-family:'Lemon/Milk',sans-serif;font-family:'Lemon/Milk light',sans-serif;color:#222}
h1,h2,h3{font-weight:300;margin:.5em 0}
h4,h5,h6{font-weight:700}
h1{font-size:2em;line-height:1.6}
h2{font-size:1.6em;line-height:1.6}
h3{font-size:1.3em;line-height:1.6}
.centre{text-align:center}
.right{text-align:right}
.justify{text-align:justify}
.button,button,input[type=button],input[type=reset],input[type=submit]{display:inline-block;height:2.3em;padding:2px 30px;color:#555;text-align:center;font-size:.8em;font-weight:600;line-height:2em;letter-spacing:.1em;text-transform:uppercase;text-decoration:none;white-space:nowrap;background-color:transparent;border-radius:4px;border:1px solid #bbb;cursor:pointer;box-sizing:border-box}
.button:focus,.button:hover,button:focus,button:hover,input[type=button]:focus,input[type=button]:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:focus,input[type=submit]:hover{color:#333;border-color:#888;outline:0}
.button.button-primary,button.button-primary,input[type=button].button-primary,input[type=reset].button-primary,input[type=submit].button-primary{color:#fff;background-color:#1c2e4a;border-color:#1c2e4a}
.button.button-primary:focus,.button.button-primary:hover,button.button-primary:focus,button.button-primary:hover,input[type=button].button-primary:focus,input[type=button].button-primary:hover,input[type=reset].button-primary:focus,input[type=reset].button-primary:hover,input[type=submit].button-primary:focus,input[type=submit].button-primary:hover{color:#fff;background-color:#142035;border-color:#142035}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea{height:38px;padding:6px 10px;background-color:#222;border:1px solid #d1d1d1;border-radius:4px;box-shadow:none;box-sizing:border-box}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
textarea{min-height:65px;padding-top:6px;padding-bottom:6px}
input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus{border:1px solid #007ca1;outline:0}
label,legend{display:block;margin-bottom:.5em;font-weight:600}
fieldset{padding:0;border-width:0}
input[type=checkbox],input[type=radio]{display:inline}
label>.label-body{display:inline-block;margin-left:.5em;font-weight:400}
ul{list-style:circle inside}
ol{list-style:decimal inside}
ol,ul{padding-left:0;margin-top:0}
ol ol,ol ul,ul ol,ul ul{margin:1em 0 1em 3em}
li{margin-bottom:1em}
code{padding:.2em .5em;margin:0 .2em;font-size:90%;white-space:nowrap;background:#f1f1f1;border:1px solid #e1e1e1;border-radius:4px}
pre>code{display:block;padding:1em 1em;white-space:pre}
table{border-collapse:collapse}
td,th{padding:12px 15px;text-align:left;border-bottom:1px solid #c4c3c3}
td:first-child,th:first-child{padding-left:1em}
td:last-child,th:last-child{padding-right:1em}
img{max-width:100%;height:auto}
figure{margin:0}
@media screen and (min-width:48em){
h1{font-size:3em;line-height:1.6;margin:.5em 0}
h2{font-size:2em;line-height:1.6;margin-bottom:.5em}
h3{font-size:1.6em;line-height:1.6}
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6{display:grid;grid-template-columns:1fr;row-gap:1em}
.container{padding:1em}
.rammi{margin:1em 0}
.rammi div{border:1px dotted;text-align:center}
.halli{visibility:hidden}
@media screen and (min-width:30em){
.halli{visibility:visible}
}
@media screen and (min-width:37.5em){
.col-2,.col-4{display:grid;grid-template-columns:1fr 1fr;grid-gap:1em}
.col-3,.col-5,.col-6{grid-template-columns:1fr 1fr 1fr;grid-gap:1em}
.halli{visibility:visible}
}
@media screen and (min-width:48em){
.col-4{grid-template-columns:repeat(4,1fr)}
.col-5{grid-template-columns:repeat(5,1fr)}
.col-6{grid-template-columns:repeat(6,1fr)}
.halli{visibility:visible}
}
@media screen and (min-width:60em){
.container{max-width:60em;margin:1em auto;padding:0}
.halli{visibility:visible}
}
@media (min-width:80em){
.container{max-width:80em}
.halli{visibility:visible}
}
.col-1f,.col-2f,.col-3f,.col-4f,.col-5f,.col-6f{display:grid;row-gap:1em}
.col-1f{grid-template-columns:1fr}
.col-2f{grid-template-columns:repeat(2,1fr)}
.col-3f{grid-template-columns:repeat(3,1fr)}
.col-4f{grid-template-columns:repeat(4,1fr)}
.col-5f{grid-template-columns:repeat(5,1fr)}
.col-6f{grid-template-columns:repeat(6,1fr)}
@media screen and (min-width:48em){
.col-2f,.col-3f,.col-4f,.col-5f,.col-6f{grid-gap:1em}
}
@font-face{font-family:icomoon;src:url(fonts/icomoon.eot?8hl792);src:url(fonts/icomoon.eot?8hl792#iefix) format('embedded-opentype'),url(fonts/icomoon.ttf?8hl792) format('truetype'),url(fonts/icomoon.woff?8hl792) format('woff'),url(fonts/icomoon.svg?8hl792#icomoon) format('svg');font-weight:400;font-style:normal;font-display:block}
[class*=" icon-"],[class^=icon-]{font-family:icomoon!important;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-home3:before{content:"\e902"}
.icon-pacman:before{content:"\e916"}
.icon-file-empty:before{content:"\e924"}
.icon-stack:before{content:"\e92e"}
.icon-cart:before{content:"\e93a"}
.icon-bubbles:before{content:"\e96c"}
.icon-happy:before{content:"\e9df"}
.icon-mail:before{content:"\ea83"}
.icon-google:before{content:"\ea88"}
.icon-facebook2:before{content:"\ea91"}
.icon-instagram:before{content:"\ea92"}
.icon-twitter:before{content:"\ea96"}
.icon-youtube:before{content:"\ea9d"}
.icon-twitch:before{content:"\ea9f"}
.icon-github:before{content:"\eab0"}
.topnav{overflow:hidden;position:fixed;top:0;width:100%;height:20%;background:#1c2e4a;background:linear-gradient(150deg,#1c2e4a 24%,#7a1712 100%)}
.centered{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.topnav a{float:left;display:block;color:#fff;text-align:center;padding:10px 16px 10px 16px;margin-top:15px;text-decoration:none;font-size:17px;justify-content:space-between}
.topnav a:hover{background-color:#ddd;color:#000}
.topnav .icon{display:none}
.topnav h1{float:left;display:block;color:#f2f2f2;text-align:center;padding:10px 12px 10px 12px;text-decoration:none;font-size:17px}
@media screen and (max-width:850px){
.topnav a:not(:first-child){display:none}
.topnav a.icon{float:right;display:block}
.topnav a{padding-bottom:18px}
}
@media screen and (max-width:850px){
.topnav.responsive{position:fixed;padding-top:100px;height:100%;overflow:visible}
.topnav.responsive .icon{position:absolute;right:0;top:0}
.topnav.responsive a{float:none;display:block;text-align:left}
.topnav.responsive h1{padding:14px 16px 14px 16px}
.topnav.responsive .logo{display:none}
}
@media screen and (max-width:450px){
.topnav.responsive h1{padding:14px 16px 14px 16px}
}
body,html{width:100%;height:100%;margin:0;padding:0;overflow-x:hidden;background-color:#222}
main{padding-top:160px}
.fela{display:none}
.col-2{padding-top:70px}
.value h1{border:1px solid #fff;border-radius:50%;width:1.8em;margin:0 auto;padding:.4em}
.halli{transform:rotate(5deg);padding-left:10em;width:50%;z-index:-2}
.logo{max-width:80px;float:left;display:block;margin:10px}
.logo2{max-width:40%;margin-left:2em}
.teamlogo{max-width:200px}
.sponsor{max-width:250px}
.bil{padding:0 0 4em 0}
.midja{padding-top:8em;text-align:center}
.graybg{color:#fff}
.titill{padding:2.5em 0 2.5em 0}
.bgimg{background-image:url(images/blue_bg.png);background-repeat:no-repeat;background-size:cover;padding:5em;display:flex;justify-content:center;align-items:center}
.teambg{background:#1c2e4a;background:linear-gradient(150deg,#1c2e4a 24%,#7a1712 100%);padding:1em 0 1em 1em}
.teams{padding:1em}
.roster{float:right;margin:1.5em 0 0 0}
.arenalogo{max-width:550px}
.about{padding:2em 0 4em 0}
.abouttexti{padding-right:2em}
.simanumer{font-size:1.6em;background-color:#222;padding:.5em 5em .5em 5em;text-align:center}
.kort{float:right;padding-left:10em}
.tafla{max-width:40em;max-height:40em;border-radius:20px;padding-bottom:2em}
img.a{padding-top:3em}
.texti{text-align:left}
.footer{margin-top:4em;padding:2em 2em 1em 2em;background:#1c2e4a;background:linear-gradient(150deg,#1c2e4a 24%,#7a1712 100%);width:100%;color:#fff}
.container2{margin:0 auto;width:50em}
td,th{padding:1em}
table{border-collapse:collapse}
td{border-bottom:1px solid;padding:.9em}
th{border-bottom:1px solid;background-color:#7a1712}
.schedule{margin-left:auto;margin-right:auto;padding:2em}
tr:nth-child(even){background:#7a1712}
tr:nth-child(odd){background:#1c2e4a}
input[type=submit]{width:100%;background-color:#1c2e4a;color:#fff;margin:8px 0;border:none;border-radius:4px;cursor:pointer;color:#fff}
input[type=text],select{width:100%;padding:12px 20px;margin:8px 0;display:inline-block;border:1px solid #222;border-radius:4px;box-sizing:border-box;color:#fff}
input[type=tel],select{width:100%;padding:12px 20px;margin:8px 0;display:inline-block;border:1px solid #222;border-radius:4px;box-sizing:border-box;color:#fff}
input[type=email],select{width:100%;padding:12px 20px;margin:8px 0;display:inline-block;border:1px solid #222;border-radius:4px;box-sizing:border-box;color:#fff}
select,textarea[type=msg]{width:100%;padding:12px 20px;margin:8px 0;display:inline-block;border:1px solid #222;border-radius:4px;box-sizing:border-box;color:#fff}
.form{padding-top:4em;border-radius:5px;background:#1c2e4a;background:linear-gradient(150deg,#1c2e4a 24%,#7a1712 100%);color:#fff;padding:20px}
input[type=submit]:hover{background-color:#142035}
.minnkaform{max-width:60%;padding-top:3em}
ul.file{list-style:none;margin:0;padding:0}
a{background-position:0 50%;background-repeat:no-repeat;color:#fff;text-decoration:none}
a:hover{color:#8a8a8a}
a[href$=".pdf"]{background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/pdf.png)}
a[href$=".doc"]{background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/doc.png)}
a[href$=".jpg"]{background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/image.png)}
a[href$=".mp3"]{background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/audio.png)}
a[href$=".mp4"]{background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/video.png)}
@media screen and (max-width:450px){
.texti{padding-left:.7em}
.socials{padding-left:5em}
.logo2{margin-left:5em}
.arenalogo{max-width:400px}
.abouttexti{padding:1em}
.teambg{padding-left:7em}
}